@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Berkeley Mono Trial';
    src: url('/fonts/BerkeleyMonoTrial-Regular.otf') format("opentype"),
         url('/fonts/BerkeleyMonoTrial-Regular.ttf') format("truetype");
  }

  ::selection {
    @apply 
      bg-vt320-amber-light
      text-vt320-grey
      ;
  }

  html {
    @apply
      bg-vt320-grey
      text-vt320-amber
      w-full
      min-h-full
      h-full
      ;
  }

  body {
    @apply
      font-berkeley
      w-full
      min-h-full
      h-full
      ;
    z-index: 50;
  }
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    touch-action: none;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 4px, transparent 4px);
  }
}

@layer utilities {
  .effect-glow {
    -webkit-animation: glow 4s ease-in-out infinite alternate;
    -moz-animation: glow 4s ease-in-out infinite alternate;
    animation: glow 4s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 
        0 0 8px #ffcc00c0, 
        0 0 16px #ffcc00c0, 
        0 0 24px #ffb000c0, 
        0 0 32px #ffb000c0;
    }
    to {
      text-shadow: 
        0 0 12px #ffcc0040,
        0 0 24px #ffb00040, 
        0 0 36px #ffb00040, 
        0 0 48px #ffb00040; 
    }
  }
}