@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Berkeley Mono Trial';
    src: url('/fonts/BerkeleyMonoTrial-Regular.otf') format("opentype"),
         url('/fonts/BerkeleyMonoTrial-Regular.ttf') format("truetype");
  }

  ::selection {
    @apply 
      bg-vt320-amber-light
      text-vt320-grey
      ;
  }

  html {
    @apply
      bg-vt320-grey
      text-vt320-amber
      w-full
      min-h-full
      h-full
      ;
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }

  body {
    @apply
      font-berkeley
      w-full
      min-h-full
      h-full
      ;
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    touch-action: none;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 4px, transparent 4px);
  }
}