@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Berkeley Mono Trial';
    src: url('/fonts/BerkeleyMonoTrial-Regular.otf') format("opentype"),
         url('/fonts/BerkeleyMonoTrial-Regular.ttf') format("truetype");
  }

  ::selection {
    @apply 
      bg-vt320-amber-light
      text-vt320-grey
      ;
  }

  html {
    @apply
      bg-vt320-grey
      text-vt320-amber
      w-full
      min-h-full
      h-full
      ;
  }

  body {
    @apply
      font-berkeley
      w-full
      min-h-full
      h-full
      ;
    z-index: 10000;
    @apply 
    effect-vignette;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    touch-action: none;
    @apply 
    effect-scanlines;
  }
}

@layer utilities {
  .effect-vignette {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png);
    @include fill;
      background-repeat: no-repeat;
      background-size: 100% 100%;	
    z-index: 10000;
  }
  .effect-scanlines {

    /* width: 100%;
	  height: 100%;
	  position: absolute;
	  left: 0;
	  top: 0;	

    z-index: 9999; */
    background: linear-gradient(
        /* transparentize($screen-background, 1) 50%, */
        #28282800 50%,

        /* transparentize(darken($screen-background, 10), 0.75) 50% */
        #24242466 50%
      ),
      linear-gradient(
        90deg,
        #ff00000f,
        #00ff0005,
        #0000ff0f
        /* transparentize(#ff0000F0, 0.94),
        transparentize(#00ff00FA, 0.98),
        transparentize(#0000ffF0, 0.94) */
      )
      ;
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
  }

  .effect-glow {
    -webkit-animation: glow 8s ease-in-out infinite alternate;
    -moz-animation: glow 8s ease-in-out infinite alternate;
    animation: glow 8s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 
        0 0 8px #ffcc00c0, 
        0 0 16px #ffcc0080, 
        0 0 24px #ffb00060, 
        0 0 32px #ffb00060;
    }
    to {
      text-shadow: 
        0 0 12px #ffcc0040,
        0 0 24px #ffb00040, 
        0 0 36px #ffb00040, 
        0 0 48px #ffb00040; 
    }
  }
}